	body {
		height: 100%;
		margin: 0px;
		padding: 0px;
		font-family: Microsoft YaHei;
	}
	
	html {
		height: 100%;
	}
	body,html{
		min-height: 900px;
		min-width: 1600px;
	}
	
	* {
		box-sizing: border-box;
	}
	
	.index {
		width: 100%;
		height: 100%;
		background: url(../img/background.png) no-repeat;
		background-size: 100% 100%;
		min-width: 1200px;
	}
	/*头部*/
	
	header {
		height: 60px;
		background: rgba(101, 186, 206, 1);
		margin-bottom: 210px;
	}
	
	header a {
		float: left;
		font-size: 16px;
		font-weight: 400;
		color: rgba(254, 252, 252, 1);
		text-decoration: none;
		margin-top: 20px;
		vertical-align: middle;
	}
	
	header a img {
		margin-top: -3px;
	}
	
	.head_left {
		float: left;
		margin-left: 12px;
	}
	
	.head_right {
		float: right;
		margin-right: 50px;
	}
	
	.head_right img {
		width: 27px;
		height: 27px;
		margin-right: 12px;
	}
	
	.find-password {
		width: 750px;
		height: 500px;
		background: rgba(248, 252, 255, 1);
		box-shadow: 0px 3px 7px 0px rgba(59, 135, 153, 0.65);
		border-radius: 20px;
		margin: 0 auto;
		position: relative;
		padding-top: 80px;
	}
	
	.find-password .title {
		width: 330px;
		height: 101px;
		position: absolute;
		left: 211px;
		top: -48px;
	}
	
	.find-password .title2 {
		width: 53px;
		height: 53px;
		position: absolute;
		top: -28px;
		right: 419px;
	}
	
	.title3{
display: inline-block;
				height: 53px;
				position: absolute;
				top: -28px;
				right: 280px;

				font-size: 30px;
				font-weight: 400;
				color: rgba(254, 252, 252, 1);
				line-height: 50px;
	}
	.find-password form {
		width: 80%;
		position: relative;
		margin-left: 74px;
	}
	
	.find-password form .line-box {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 24px;
		position: relative;
	}
	
	.yan {
		width: 105px;
		height: 45px;
		vertical-align: middle;
		position: absolute;
		right: -27px;
		top: 3px;
		cursor: pointer;
	}
	
	.gain-yan {
		width: 102px;
		height: 31px;
		border: 1px solid rgba(136, 137, 137, 1);
		border-radius: 5px;
		font-size: 14px;
		font-family: Microsoft YaHei;
		font-weight: 400;
		color: rgba(65, 65, 65, 1);
		padding: 5px;
		position: absolute;
		right: -25px;
		text-align: center;
		cursor: pointer;
	}
	
	.find-password form div label {
		font-size: 19px;
		font-family: Microsoft YaHei;
		font-weight: 400;
		color: rgba(65, 65, 65, 1);
		cursor: pointer;
	}
	
	.new-word-submit {
		cursor: pointer;
		width: 136px;
		height: 34px;
		background: rgba(101, 186, 206, 1);
		border-radius: 10px;
		outline: none;
		border: none;
		font-size: 18px;
		font-family: Microsoft YaHei;
		font-weight: 400;
		color: rgba(254, 252, 252, 1);
		margin-left: 238px;
		margin-top: 18px;
	}
	
	.lable-box {
		display: inline-block;
		position: relative;
		width: 135px;
		height: 30px;
	}
	
	.lable-box label {
		position: absolute;
		right: 20px;
	}
	
	.find-password form div:nth-of-type(5) {
		padding-top: 10px;
	}
	
	#input1,
	#input2,
	#input3 {
		width: 308px;
		height: 31px;
		border: 1px solid rgba(136, 137, 137, 1);
		border-radius: 5px;
		float: right;
		position: absolute;
		right: -25px;
	}
	
	#input4,
	#input5 {
		width: 172px;
		height: 31px;
		border: 1px solid rgba(136, 137, 137, 1);
		border-radius: 5px;
		position: absolute;
		right: 110px;
	}


	/* 获取验证码时的状态 */
	.checkBox .checkedNum {
		color: #D1D1D1;
	}
	/* 空输入框时错误提醒 */
	.finishTips {
		font-size: 0.5rem;
		color: red;
		position: relative;
		left: 5rem;
		display: none;
	}

	/* 验证码错误之后出现提示 */
	.errorTips {
		font-size: 0.5rem;
		color: red;
		position: relative;
		left: 5rem;
		display: none;
	}

	/* 完成Button被选中时 */
	.selectedButton {
		color: #D1D1D1;
		background: url("images/Rectangle.png");
		background-size: cover;
	}

