/* 主页面的布局 */
.index {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  min-height: 969px;
  background: url("../img/bg.png") no-repeat;
  background-size: 100% 100%;
}

/*----------------------------头部-------------------*/
.header {
  width: 100%;
  height: 60px;
  background: rgba(101, 186, 206, 0);
  justify-content: space-between;
  display: flex;
  align-items: center;

}

.header a {
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  margin-left: 40px;
  color: #fff;
}

/* 头部的右边logo */
.header-index-logo {
  height: 100%;
  width: 152px;
  margin-top: 20px;
}

.header-index-logo img {
  width: 35px;
  height: 35px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: top;
}

/* 头部右边的信息 */
.header-index-logo-login {
  display: inline-block;
  margin-top: 5px;
}

.header-index-info {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
  font-size: 14px;
  height: 60px;
}

.header-index-info span:nth-of-type(2) {
  display: inline-block;
  font-size: 10px;
  margin-left: 5px;
}

/*---------------------- 公共头部--end -------------------*/



/* ------------account-manage----客服管理主页 --------------------*/

.content {
  width: 100%;
  height: 909px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1440px;
  height: 738px;
  background: rgba(248, 252, 255, 1);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.35);
  position: relative;
  display: flex;

}

/* 头部导航栏 */
.nav {
  position: absolute;
  height: 36px;
  width: 700px;
  top: -37px;
}

.nav-item {
  width: 134px;
  height: 36px;
  cursor: pointer;
  background: rgba(248, 252, 255, 1);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: inline-block;
  text-align: center;

}

.nav-item span {
  vertical-align: middle;
  margin-top: 6px;
  display: inline-block;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.nav-item:nth-of-type(4) {
  background: rgba(101, 186, 206, 1);
  color: rgba(255, 255, 255, 1);
}

/* ---------  --虚线盒子----------------- */

.PA-container-box {
  width: 1260px;
  margin: auto;
  height: 646px;
  background: rgba(248, 252, 255, 1);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.35);
}

/* 个人账号 主页*/
.PA-container-main {
  margin-top: 50px;
  height: 100%;
  width: 100%;
}

.nav-item {
  width: 134px;
  height: 36px;
  cursor: pointer;
  background: rgba(248, 252, 255, 1);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: inline-block;
  text-align: center;

}

.nav-item span {
  vertical-align: middle;
  margin-top: 6px;
  display: inline-block;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.nav-item:nth-of-type(4) {
  background: rgba(101, 186, 206, 1);
  color: rgba(255, 255, 255, 1);
}


/* --------------个人账号搜索框 -----------------*/

.PA-container-search {
  width: 72%;
  display: flex;
  margin: 0 auto;
  position: relative;
  padding: 0 10px 0 10px;
  justify-content: flex-start;
}

.PA-container-search-input {
  width: 304px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(140, 138, 138, 1);
  border-radius: 5px;
  margin-right: 40px;
  padding: 2px 0 2px 8px;
}

/* 搜索按钮 */
.PA-container-search-button {
  width: 88px;
  height: 30px;
  background: rgba(101, 186, 206, 1);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

/* 添加按钮 */
.PA-container-add-button {
  width: 88px;
  cursor: pointer;
  height: 30px;
  background: rgba(101, 186, 206, 1);
  border-radius: 5px;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  right: 40px;
}

/* table表 */
.PA-container-table {
  width: 900px;
  height: 466px;
  margin: auto;
  margin-top: 25px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.PA-container-table td {
  text-align: center;
  width: 150px;
  height: 35px;
}

.PA-container-tbody input {
  width: 88px;
  height: 30px;
  background: rgba(101, 186, 206, 1);
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(254, 252, 252, 1);
}

/* ------------------------页码 公用-------------------- */
/* 页码 */
.PA-container-page {
  width: 72%;
  padding-right: 10px;
  background: rosybrown;
  margin: 0 auto;
  margin-top: 20px;
  padding-right: 7px;
}

.PA-container-page-info {
  float: right;
  width: auto;
}

/* 页码上一页，下一页 */
.PA-container-page-info button {
  width: 63px;
  height: 27px;
  background: rgba(231, 231, 231, 1);
  border-radius: 5px;
  border: 0;

  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
}

.PA-container-page-info input {
  width: 31px;
  height: 27px;
  cursor: pointer;
  margin-right: 5px;
  background: rgba(231, 231, 231, 1);
  border-radius: 5px;
  font-size: 14px;
  border: 0;
  color: #000000;
}


/* 主页页码跳页 */
.PA-container-page-info-changePage {
  display: inline-block;
  width: 110px;
  border-radius: 5px;
  text-align: center;
  background: rgba(231, 231, 231, 1);
}

.PA-container-page-info-changePage input {
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 20px;
  z-index: 100;
  margin: 5px 11px 4px 13px;
  color: #000000 !important;
  font-size: 18px;
  cursor: text;
  border-radius: 0;
  align-items: center;
  background: #fff !important;
}

.PA-container-page-info input:nth-of-type(1) {
  background: rgba(101, 186, 206, 1);
  color: #fff;
}

/* ------------------------页码end-------------------- */
/* --------------个人账号主页 end----------- */


/* -------------------个人账号添加--------------- */
.PA-container-add {
  width: 1195px;
  margin: auto;
  height: 574px;
  background: rgba(248, 252, 255, 1);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.35);
  position: relative;
}

/* 返回按钮 */
.PA-container-add-return {
  position: absolute;
  top: -37px;
  width: 72px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  background: rgba(101, 186, 206, 1);
  border-radius: 5px;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

/* form表单 */
.PA-container-add-form {
  box-sizing: border-box;
  padding: 128px 104px 150px 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}



.PA-container-add-form-input {
  width: 49%;
  height: 40px;
  margin-bottom: 60px;
  box-sizing: border-box;
  padding: 0 0 0 0;
  text-align: right;
  display: inline-block;
}

.PA-container-add-form-input label {
  font-size: 18px;
  color: rgba(65, 65, 65, 1);
  margin-right: 20px;
  display: inline-block;

}

.PA-container-add-form-input input {
  width: 308px;
  height: 31px;
  border: 1px solid rgba(136, 137, 137, 1);
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 2px 0 10px;
}

/* 提交按钮 */
.PA-container-add-form-button {
  width: 78%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 100px;
}

.PA-container-add-form-button input {
  width: 140px;
  height: 34px;
  background: rgba(101, 186, 206, 1);
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  color: rgba(255, 254, 254, 1);
}



/* 警告框 */
.PA-container-addUser-form-input-box {
  color: #fc703e;
  font-size: 16px;
  display: none;
  width: 300px;
  position: absolute;
  border: 1px solid #fc703e;
  background: #ffffff;
  padding: 2px;
  border-radius: 5px;
}

.PA-container-addUser-form-input-box img {
  width: 16px;
  margin-right: 20px;
  vertical-align: middle;
}

.PA-container-addUser-form-input-box:nth-of-type(1) {
  top: 160px;
  left: 248px;
}

.PA-container-addUser-form-input-box:nth-of-type(2) {
  top: 260px;
  left: 248px;

}

.PA-container-addUser-form-input-box:nth-of-type(3) {
  
top: 160px;
left: 768px;
}

.PA-container-addUser-form-input-box:nth-of-type(4) {
  top: 260px;
  left: 768px;

}